.button-primary {
  background-color: #588157 !important;
}
.bg-primary {
  background-color: #224824 !important;
}
.bg-dark{
  background-color: #0c110c !important;
}
.btn-primary{
  background-color: #0c110c !important;
  border: none!important;
}

/* $text: #f0f2f0;
$background: #0c110c;
$primary: #449348;
$secondary: #224824;
$accent: #5fb960;
 */
